{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="unSdg">
    <div class="unSdgEmblemContainer"><img class="unSdgEmblemContainerIcon" src="{% static 'images/sdgemblem.png' %}" alt="sdg image"/></div>        
    <h1 class="unSdgHeading">Goal 12: Ensure Sustainable Consuption and Production Patterns</h1>
    <div class="unSdgImageContainer unSdgImageContainer12">
        <img class="unSdgImageContainerIconsLeft" src="{% static 'images/E-WEB-Goal-12-01.png' %}" alt="sdg image"/>
        <img class="unSdgImageContainerIconsRight" src="{% static 'images/E-WEB-Goal-12-02.png' %}" alt="sdg image"/>
    </div>
    <div class="unSdgContents">
        <p>Worldwide consumption and production — a driving force of the global economy — rest on the use of the natural environment and resources in a way that continues to have destructive impacts on the planet. </p>
        <br/>
        <p>Economic and social progress over the last century has been accompanied by environmental degradation that is endangering the very systems on which our future development — indeed, our very survival — depends. </p>
        <br/>
        <p>A few facts and figures:</p>
        <br/>
        <ul>
            <li>Each year, an estimated one third of all food produced – equivalent to 1.3 billion tonnes worth around $1 trillion – ends up rotting in the bins of consumers and retailers, or spoiling due to poor transportation and harvesting practices.</li>
            <li>If people worldwide switched to energy efficient light bulbs the world would save US$120 billion annually.</li>
            <li>Should the global population reach 9.6 billion by 2050, the equivalent of almost three planets could be required to provide the natural resources needed to sustain current lifestyles.</li>
        </ul>
        <br/>
        <p>The COVID-19 pandemic offers countries an opportunity to build recovery plans that will reverse current trends and change our consumption and production patterns towards a more sustainable future.</p>
        <br/>
        <p>Sustainable consumption and production is about doing more and better with less. It is also about decoupling economic growth from environmental degradation, increasing resource efficiency and promoting sustainable lifestyles.</p>
        <br/>
        <p>Sustainable consumption and production can also contribute substantially to poverty alleviation and the transition towards low-carbon and green economies.</p>
        <br/>

        <h1>Goal 12 Targets</h1>
        <br/>
        <p>12.1 Implement the 10-year framework of programmes on sustainable consumption and production, all countries taking action, with developed countries taking the lead, taking into account the development and capabilities of developing countries</p>
        <br/>
        <p>12.2 By 2030, achieve the sustainable management and efficient use of natural resources</p>
        <br/>
        <p>12.3 By 2030, halve per capita global food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses</p>
        <br/>
        <p>12.4 By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment</p>
        <br/>
        <p>12.5 By 2030, substantially reduce waste generation through prevention, reduction, recycling and reuse</p>
        <br/>
        <p>12.6 Encourage companies, especially large and transnational companies, to adopt sustainable practices and to integrate sustainability information into their reporting cycle</p>
        <br/>
        <p>12.7 Promote public procurement practices that are sustainable, in accordance with national policies and priorities</p>
        <br/>
        <p>12.8 By 2030, ensure that people everywhere have the relevant information and awareness for sustainable development and lifestyles in harmony with nature</p>
        <br/>
        <p>12.A Support developing countries to strengthen their scientific and technological capacity to move towards more sustainable patterns of consumption and production</p>
        <br/>
        <p>12.B Develop and implement tools to monitor sustainable development impacts for sustainable tourism that creates jobs and promotes local culture and products</p>
        <br/>
        <p>12.C Rationalize inefficient fossil-fuel subsidies that encourage wasteful consumption by removing market distortions, in accordance with national circumstances, including by restructuring taxation and phasing out those harmful subsidies, where they exist, to reflect their environmental impacts, taking fully into account the specific needs and conditions of developing countries and minimizing the possible adverse impacts on their development in a manner that protects the poor and the affected communities</p>
        <br/>
    </div>
</div>



{% endblock content %}
