{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="unSdg">
    <div class="unSdgEmblemContainer"><img class="unSdgEmblemContainerIcon" src="{% static 'images/sdgemblem.png' %}" alt="sdg image"/></div>        
    <h1 class="unSdgHeading">Goal 16: Promote just, peaceful and inclusive societies</h1>
    <div class="unSdgImageContainer unSdgImageContainer16">
        <img class="unSdgImageContainerIconsLeft" src="{% static 'images/E-WEB-Goal-16-01.png' %}" alt="sdg image"/>
        <img class="unSdgImageContainerIconsRight" src="{% static 'images/E-WEB-Goal-16-02.png' %}" alt="sdg image"/>
    </div>
    <div class="unSdgContents">
        <p>Conflict, insecurity, weak institutions and limited access to justice remain a great threat to sustainable development. </p>
        <br/>
        <p>The number of people fleeing war, persecution and conflict exceeded 70 million in 2018, the highest level recorded by the UN refugee agency (UNHCR) in almost 70 years. </p>
        <br/>
        <p>In 2019, the United Nations tracked 357 killings and 30 enforced disappearances of human rights defenders, journalists and trade unionists in 47 countries.</p>
        <br/>
        <p>And the births of around one in four children under age 5 worldwide are never officially recorded, depriving them of a proof of legal identity crucial for the protection of their rights and for access to justice and social services.</p>
        <br/>
        <h1>Goal 16 Targets</h1>        
        
        <p>16.1 Significantly reduce all forms of violence and related death rates everywhere</p>
        <br/>
        <p>16.2 End abuse, exploitation, trafficking and all forms of violence against and torture of children</p>
        <br/>
        <p>16.3 Promote the rule of law at the national and international levels and ensure equal access to justice for all</p>
        <br/>
        <p>16.4 By 2030, significantly reduce illicit financial and arms flows, strengthen the recovery and return of stolen assets and combat all forms of organized crime</p>
        <br/>
        <p>16.5 Substantially reduce corruption and bribery in all their forms</p>
        <br/>
        <p>16.6 Develop effective, accountable and transparent institutions at all levels</p>
        <br/>
        <p>16.7 Ensure responsive, inclusive, participatory and representative decision-making at all levels</p>
        <br/>
        <p>16.8 Broaden and strengthen the participation of developing countries in the institutions of global governance</p>
        <br/>
        <p>16.9 By 2030, provide legal identity for all, including birth registration</p>
        <br/>
        <p>16.10 Ensure public access to information and protect fundamental freedoms, in accordance with national legislation and international agreements</p>
        <br/>
        <p>16.A Strengthen relevant national institutions, including through international cooperation, for building capacity at all levels, in particular in developing countries, to prevent violence and combat terrorism and crime</p>
        <br/>
        <p>16.B Promote and enforce non-discriminatory laws and policies for sustainable development</p>
        <br/>
    </div>
</div>



{% endblock content %}
