{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="unSdg">
    <div class="unSdgEmblemContainer"><img class="unSdgEmblemContainerIcon" src="{% static 'images/sdgemblem.png' %}" alt="sdg image"/></div>        
    <h1 class="unSdgHeading">Goal 13: Take urgent action to combat climate change and its impacts</h1>
    <div class="unSdgImageContainer unSdgImageContainer13">
        <img class="unSdgImageContainerIconsLeft" src="{% static 'images/E-WEB-Goal-13-01.png' %}" alt="sdg image"/>
        <img class="unSdgImageContainerIconsRight" src="{% static 'images/E-WEB-Goal-13-02.png' %}" alt="sdg image"/>
    </div>
    <div class="unSdgContents">
        <p>2019 was the second warmest year on record and the end of the warmest decade (2010- 2019) ever recorded.  </p>
        <br/>
        <p>Carbon dioxide (CO2) levels and other greenhouse gases in the atmosphere rose to new records in 2019. </p>
        <br/>
        <p>Climate change is affecting every country on every continent. It is disrupting national economies and affecting lives. Weather patterns are changing, sea levels are rising, and weather events are becoming more extreme.</p>
        <br/>
        <p>Although greenhouse gas emissions are projected to drop about 6 per cent in 2020 due to travel bans and economic slowdowns resulting from the COVID-19 pandemic, this improvement is only temporary. Climate change is not on pause. Once the global economy begins to recover from the pandemic, emissions are expected to return to higher levels.</p>
        <br/>
        <p>Saving lives and livelihoods requires urgent action to address both the pandemic and the climate emergency.</p>
        <br/>
        <p>The Paris Agreement, adopted in 2015, aims to strengthen the global response to the threat of climate change by keeping a global temperature rise this century well below 2 degrees Celsius above pre-industrial levels. The agreement also aims to strengthen the ability of countries to deal with the impacts of climate change, through appropriate financial flows, a new technology framework and an enhanced capacity building framework.</p>
        <br/>
        <h1>Goal 13 Targets</h1>
        <br/>
        <p>13.1 Strengthen resilience and adaptive capacity to climate-related hazards and natural disasters in all countries</p>
        <br/>
        <p>13.2 Integrate climate change measures into national policies, strategies and planning</p>
        <br/>
        <p>13.3 Improve education, awareness-raising and human and institutional capacity on climate change mitigation, adaptation, impact reduction and early warning</p>
        <br/>
        <p>13.A Implement the commitment undertaken by developed-country parties to the United Nations Framework Convention on Climate Change to a goal of mobilizing jointly $100 billion annually by 2020 from all sources to address the needs of developing countries in the context of meaningful mitigation actions and transparency on implementation and fully operationalize the Green Climate Fund through its capitalization as soon as possible</p>
        <br/>
        <p>13.B Promote mechanisms for raising capacity for effective climate change-related planning and management in least developed countries and small island developing States, including focusing on women, youth and local and marginalized communities</p>
        <br/>
    </div>
</div>



{% endblock content %}
