{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="unSdg">
    <div class="unSdgEmblemContainer"><img class="unSdgEmblemContainerIcon" src="{% static 'images/sdgemblem.png' %}" alt="sdg image"/></div>        
    <h1 class="unSdgHeading">Goal 5: Gender Equality</h1>
    <div class="unSdgImageContainer unSdgImageContainer5">
        <img class="unSdgImageContainerIconsLeft" src="{% static 'images/E-WEB-Goal-05-01.png' %}" alt="sdg image"/>
        <img class="unSdgImageContainerIconsRight" src="{% static 'images/E-WEB-Goal-05-02.png' %}" alt="sdg image"/>
    </div>
    <div class="unSdgContents">
        <p>Gender equality is not only a fundamental human right, but a necessary foundation for a peaceful, prosperous and sustainable world. </p>
        <br/>
        <p>There has been progress over the last decades: More girls are going to school, fewer girls are forced into early marriage, more women are serving in parliament and positions of leadership, and laws are being reformed to advance gender equality. </p>
        <br/>
        <p>Despite these gains, many challenges remain: discriminatory laws and social norms remain pervasive, women continue to be underrepresented at all levels of political leadership, and 1 in 5 women and girls between the ages of 15 and 49 report experiencing physical or sexual violence by an intimate partner within a 12-month period.</p>
        <br/>
        <p>The effects of the COVID-19 pandemic could reverse the limited progress that has been made on gender equality and women’s rights.  The coronavirus outbreak exacerbates existing inequalities for women and girls across every sphere – from health and the economy, to security and social protection. </p>
        <br/>
        <p>Women play a disproportionate role in responding to the virus, including as frontline healthcare workers and carers at home. Women’s unpaid care work has increased significantly as a result of school closures and the increased needs of older people. Women are also harder hit by the economic impacts of COVID-19, as they disproportionately work in insecure labour markets. Nearly 60 per cent of women work in the informal economy, which puts them at greater risk of falling into poverty. </p>
        <br/>
        <p>The pandemic has also led to a steep increase in violence against women and girls. With lockdown measures in place, many women are trapped at home with their abusers, struggling to access services that are suffering from cuts and restrictions. Emerging data shows that, since the outbreak of the pandemic, violence against women and girls – and particularly domestic violence – has intensified. </p>
        <br/>
        <h1>Goal 5 Targets</h1>
        <br/>
        <p>5.1 End all forms of discrimination against all women and girls everywhere</p>
        <br/>
        <p>5.2 Eliminate all forms of violence against all women and girls in the public and private spheres, including trafficking and sexual and other types of exploitation</p>
        <br/>
        <p>.5.3 Eliminate all harmful practices, such as child, early and forced marriage and female genital mutilation</p>
        <br/>
        <p>5.4 Recognize and value unpaid care and domestic work through the provision of public services, infrastructure and social protection policies and the promotion of shared responsibility within the household and the family as nationally appropriate</p>
        <br/>
        <p>5.5 Ensure women’s full and effective participation and equal opportunities for leadership at all levels of decisionmaking in political, economic and public life</p>
        <br/>
        <p>5.6 Ensure universal access to sexual and reproductive health and reproductive rights as agreed in accordance with the Programme of Action of the International Conference on Population and Development and the Beijing Platform for Action and the outcome documents of their review conferences</p>
        <br/>
        <p>5.A Undertake reforms to give women equal rights to economic resources, as well as access to ownership and control over land and other forms of property, financial services, inheritance and natural resources, in accordance with national laws</p>
        <br/>
        <p>5.B Enhance the use of enabling technology, in particular information and communications technology, to promote the empowerment of women</p>
        <br/>
        <p>5.C Adopt and strengthen sound policies and enforceable legislation for the promotion of gender equality and the empowerment of all women and girls at all levels</p>
        <br/>

    </div>
</div>



{% endblock content %}
