{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="unSdg">
    <div class="unSdgEmblemContainer"><img class="unSdgEmblemContainerIcon" src="{% static 'images/sdgemblem.png' %}" alt="sdg image"/></div>        
    <h1 class="unSdgHeading">Goal 7: Affordable and Clean Energy</h1>
    <div class="unSdgImageContainer unSdgImageContainer7">
        <img class="unSdgImageContainerIconsLeft" src="{% static 'images/E-WEB-Goal-07-01.png' %}" alt="sdg image"/>
        <img class="unSdgImageContainerIconsRight" src="{% static 'images/E-WEB-Goal-07-02.png' %}" alt="sdg image"/>
    </div>
    <div class="unSdgContents">
        <p>The world is making progress towards Goal 7, with encouraging signs that energy is becoming more sustainable and widely available. Access to electricity in poorer countries has begun to accelerate, energy efficiency continues to improve, and renewable energy is making impressive gains in the electricity sector. </p>
        <br/>
        <p>Nevertheless, more focused attention is needed to improve access to clean and safe cooking fuels and technologies for 3 billion people, to expand the use of renewable energy beyond the electricity sector, and to increase electrification in sub-Saharan Africa.</p>
        <br/>
        <p>The Energy Progress Report provides global dashboard to register progress on energy access, energy efficiency and renewable energy. It assesses the progress made by each country on these three pillars and provides a snapshot of how far we are from achieving the 2030 Sustainable Development Goals targets.</p>
        <br/>
        
        <h1>Goal 7 Targets</h1>
        <br/>
        <p>7.1 By 2030, ensure universal access to affordable, reliable and modern energy services</p>
        <br/>
        <p>7.2 By 2030, increase substantially the share of renewable energy in the global energy mix</p>
        <br/>
        <p>7.3 By 2030, double the global rate of improvement in energy efficiency</p>
        <br/>
        <p>7.A By 2030, enhance international cooperation to facilitate access to clean energy research and technology, including renewable energy, energy efficiency and advanced and cleaner fossil-fuel technology, and promote investment in energy infrastructure and clean energy technology</p>
        <br/>
        <p>7.B By 2030, expand infrastructure and upgrade technology for supplying modern and sustainable energy services for all in developing countries, in particular least developed countries, small island developing States, and land-locked developing countries, in accordance with their respective programmes of support</p>
        <br/>
        

    </div>
</div>



{% endblock content %}
