{% extends 'base.html' %} {% load static %} {% block content %}

<h1>Edit Profile Below</h1>
<div>
  <a href="{% url 'profile' %}">Back to Profile</a>
  <hr />
  <h3>Account Settings</h3>
  <h3><a href="{% url 'password_change' %}">Change Password</a></h3>
  <hr />
  <img
    src="{{ request.user.profile.profilePicture.url }}"
    alt="Profile pix"
    class="userDp"
  />
</div>

<div>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>{{ form.as_p }}</h3>

    <input type="submit" value="update profile" name="Update Information" />
  </form>
</div>

{% endblock content %}
