{% extends 'base.html' %} {% block title %} {% if validlink %} change password
for {{ form.user.username }}
{% else %} Reset your Password {% endif %} {% endblock %} {% block content %}
<div>
  {% if validlink %}
  <h2>change password for 0{{ form.user.username }}</h2>

  <form action="" method="POST" novalidate>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="send password reset email" name="submit" />
  </form>
  {% else %}
  <h3>Reset your password</h3>
  <p>it looks like you clicked on an invalid passowrd reset link try again</p>
  <a href="{% url 'password_reset' %}">Request</a>
  {% endif %}
</div>

{% endblock content %}
