*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: black;
  background-color: white;
}


//  Media Queries 
// Tablet landscape
@media screen and (max-width: 1200px){
    
}
//  Tablet portrait  
 @media screen and (max-width: 900px){

} 
//  Phone 
 @media screen and (max-width: 600px){
    

} 
