{% load static %}
<link rel="stylesheet" href=" {% static 'css/fontIcons.css' %}" />
<footer class="footerContainer" >
    <div class='footerContent footerContentContainer' >
        <div class="footerContentContainerAbout">
            <h2 class="footerContentHeading"> <span class="colorPrimary">A</span>bout <span class="colorPrimary">E</span>nactus</h2>
            <p class="footerContentText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br/> Ratione maxime tempora reiciendis modi labore. <br/> Consequatur, doloribus? Ad dolore</p>
        </div>
        <div class="footerContentContainerDonate">
            <h2 class="footerContentHeading"> <span class="colorPrimary">G</span>et <span class="colorPrimary">I</span>nvloved</h2>
            <p class="footerContentText">Make a donation, <br/> become a corporate partner with us</p>
        </div>
        <div class="footerContentContainerConnect">
            <h2 class="footerContentHeading"><span class="colorPrimary">F</span>ollow <span class="colorPrimary">U</span>s</h2>
            <p>Let us be Social</p>
            <div class="">
                <i class="fab fa-facebook-f footerSocialIcons"><a href="#"></a></i>
                <i class="fab fa-twitter footerSocialIcons"><a href="#"></a></i>
                <i class="fab fa-instagram footerSocialIcons "><a href="#"></a></i>
                <i class="fab fa-youtube footerSocialIcons"><a href="#"></a></i>
            </div>
        </div>
        <div class="footerContentContainerContact">
            <h2 class="footerContentHeading"><span class="colorPrimary">C</span>ontact <span class="colorPrimary">U</span>s</h2>
            <p class="footerContentText">Federal University Dutsinma, <br/> Katsina State, Nigeria.<br/> contact@enactusfudma.com <br/> +2340888888888</p>
        </div>
    </div>
    <div class="footerContainerCopyright">
        <p class="footerCopyright">Copyright &copy 2020 All rights reserved | made by Joseph Ayemlo</p>
    </div>
</footer>
